body{
    background-color: black;
    color: white;
}
.content{
    background-color: white;
 
 

 
 
}
.ClearColor{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}
.hover
{
    background-color: rgb(24, 24, 24);
}
button {
    width: 100px;
    height: 60px;
    color:white;
    border-radius: 50px;
    background-color: grey;
}

.permahover{
    background-color: red;
}

 .gridbox{
     
    
    grid-template-columns: repeat(16,minmax(20px,1fr));
    grid-template-rows: repeat(16,minmax(25px,1fr));
    justify-content: center;
    display: grid;
    
    
      
    
 }
 @media (max-width:768px) {
   .gridbox{
      grid-template-columns: repeat(16,1fr);
   }     
 }
 @media (max-wdith:480px){
    .gridbox{
        grid-template-columns: repeat(16,1fr);
    }
 }
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
